/* #region Common */
:root {
    --bs-primary: #1ABC9C;
    --bs-secondary: #2C3E50;
    --bs-accenture: #333333;
    --bs-secondary-light: #3A546D;
    --bs-light: #FFFFFF;
}

img {
    max-width: 100%;
}

.jumbotron,
.about,
.info_bobox {
    background-color: var(--bs-primary);
    color: var(--bs-light);
}

.portfolio, 
.contact {
    background-color: var(--bs-light);
    color: var(--bs-accenture);
}

.line {
    display: inline-block;
    width: 100px;
    border-radius: 1rem;
}

.jumbotron .line,
.about .line,
.info_bobox .line {
    border: 1px solid var(--bs-light);
}

.portfolio .line, 
.contact .line {
    border: 1px solid var(--bs-accenture);
}

.border_radius {
    border-radius: 1rem;
}

/* #endregion Common */

/* #region Debug */
.debug [class^="col"] {
    background-color: red;
    border: 1px solid;
    height: 240px;
}

.debuh header {
    height: 80px;
}

.debug .jumbotron {
    height: 450px;
}
/* #endregion Debug */

/* #region Body */
/* #region Header */
nav {
    background-color: var(--bs-secondary);
}

.nav-link {
    color: var(--bs-light);
}

.navbar-toggler {
    border: var(--bs-border-width) solid var(--bs-light);
}
/* #endregion Header */

/* #region Main */
.jumbotron img {
    width: 200px;
}

.portfolio .line {
    border: 1px solid var(--bs-accenture);
}

.download button {
    color: var(--bs-light);
    border-color: var(--bs-light);
    pointer-events: none;
}

/* #enderegion Main */
/* #endregion Body */