/* #region Common */
:root {
    --bs-primary: #1ABC9C;
    --bs-secondary: #2C3E50;
    --bs-accenture: #333333;
    --bs-secondary-light: #3A546D;
    --bs-light: #FFFFFF;
}
/* #endregion Common */

/* #region Debug */
/* #region Debug */